*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 height: 650px;
 background-color: #07274f;
 margin: 0px auto;
}
#header{
 height: 150px;
 background-color: #ad0100;
 margin: 20px;
 position: relative;
 top:20px;
 border-radius: 10px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: #00868e;
 display: inline-block;
 margin: 20px;
 border-radius: 20px;
}
#main_content{
 height: 400px;
 width: 688px;
 background-color: #03000a;
 margin: 20px;
 display: inline-block;
 position: absolute;
 top:190px;
 right:200px;
 bottom: 20px;
 left: 465px;
 border-radius: 20px;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 margin: 40pix;
 position: relative;
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 margin: 20px;
}
h3{
    color: #cccccc;
}
p{
    color: #cccccc;
}
#footer{
 height: 50px;
 background-color: #6b6b6b;
 margin: 20px;
 position: relative;
 top:20px;
 border-radius: 20px;
}
